@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@keyframes scroll-text {
    0% {
        transform: translate(0)
    }
    40%,
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes scroll-bar {
    0%,
    5% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 510px, 0);
        transform: translate3d(0, 510px, 0)
    }
}

@include keyframes(laoding_ani) {
    0% {
        top: 0;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0;
    }
}

@include keyframes(scroll) {
    0% {
        height: 0;
        top: 0;
        bottom: initial;
    }
    50% {
        height: 100%;
        bottom: 0;
    }
    100% {
        height: 0;
    }
}