.full-size {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.blend-multiply {
    mix-blend-mode: multiply;
}

.blend-screen {
    mix-blend-mode: screen;
}

// .mask-bg-color {
//     background-color: #50c7f8;
// }
.animated-bg {
    background-image: url('../img/mask.png');
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    @media screen and (max-width: 1680px) and (min-height: 800px) {
        background-image: url(../img/svg/bg-city-2.svg);
    }
    @media screen and (max-width: 1200px) and (min-height: 800px) {
        background-image: url(../img/svg/bg-city-3.svg);
    }
    @media screen and (max-width: 1024px) and (min-height: 800px) {
        background-image: url(../img/svg/bg-city-h.svg);
    }
}

.element-mask {
    background-color: #fff;
}

.circle-follow {
    position: absolute;
    overflow: hidden;
    background-color: #d5a58e;
    width: 220px;
    height: 220px;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    -webkit-border-radius: 160px;
    border-radius: 160px;
    -webkit-transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
    transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
    opacity: 0;
    -webkit-filter: blur(8px);
}

.circle-follow::before {
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.circle-follow.moving {
    opacity: 1;
}


/* hack to detect ie11 and above - blend mode not supported */

_:-ms-fullscreen,
:root .letter-mask {
    background-color: transparent;
}

_:-ms-fullscreen,
:root .animated-bg {
    opacity: 0.2;
}

_:-ms-fullscreen,
:root .circle-follow {
    background-color: #ffffff;
    opacity: 0.2;
}