.marketing {
    background: url('../img/old_mathematics.png') repeat;
    overflow: hidden;
    margin-top: 100vh;
    .carouselBox {
        margin-top: 80px;
        position: relative;
        @include pc-1440 {
            margin-top: 50px;
        }
        @include m-767 {
            transform: scale(0.75);
            margin-top: 0;
        }
        @include m-374 {
            transform: scale(0.65);
            margin-top: -40px;
        }
    }
    .animate-title {
        font-size: 2.3rem;
    }
    .outer {
        @include pos-mid;
    }
    h5 {
        font-size: 1.5rem;
        color: $gray;
        @include m-1024 {
            font-size: 1.6rem;
        }
    }
    .logo {
        @include pos-mid;
        width: 120px;
        @include m-767 {
            top: 43%;
        }
    }
    .icon {
        @extend %flex-mid;
    }
    .iconBox {
        width: 45%;
    }
    .bg-icon {
        width: 350px;
        left: -200px;
        top: -100px;
        z-index: -1;
        opacity: 0.5;
        @include pc-1440 {
            width: 280px;
            left: -150px;
            top: -50px;
        }
        @include m-767 {
            width: 96%;
            bottom: -56%;
            opacity: 0.7;
            top: initial;
        }
    }
    .line {
        width: 4px;
        transform: rotate(45deg);
        border-radius: 4px;
        background-color: $orange;
        @extend %trans;
    }
    .line1 {
        height: 80px;
        opacity: 0.4;
        left: 0%;
        top: 15%;
        @include m-767 {
            height: 150px;
            opacity: 0.4;
            left: 7%;
            top: 5%;
        }
    }
    .line2 {
        height: 330px;
        opacity: 0.5;
        left: 0;
        bottom: -8%;
        @include m-767 {
            bottom: -30%;
            opacity: 0.6;
        }
    }
    .line3 {
        height: 400px;
        opacity: 0.1;
        left: 23%;
        top: -10%;
        @include m-767 {
            display: none;
        }
    }
    .line4 {
        height: 300px;
        opacity: 0.1;
        left: 20%;
        bottom: 13%;
        @include m-767 {
            display: none;
        }
    }
    .line5 {
        height: 500px;
        opacity: 0.1;
        right: 20%;
        top: -8%;
        @include m-767 {
            height: 300px;
            right: 2%;
            top: 5%;
        }
    }
    .line6 {
        height: 180px;
        opacity: 0.4;
        right: 13%;
        top: 40%;
        @include m-767 {
            display: none;
        }
    }
    .line7 {
        height: 500px;
        opacity: 0.1;
        right: 20%;
        bottom: -15%;
        @include m-767 {
            height: 300px;
            opacity: 0.2;
            right: 2%;
            bottom: 0%;
        }
    }
    .line8 {
        height: 300px;
        opacity: 0.2;
        right: 0;
        bottom: 5%;
        @include m-767 {
            display: none;
        }
    }
    .ani_start {
        height: 0;
    }
}

.circle--slider {
    margin: auto;
    width: 400px;
    .animate-wrapper {
        width: 165px;
        right: -215px;
        @include m-767 {
            right: 50%;
            top: 45%;
            transform: translateX(50%);
        }
    }
    .rotate2 {
        .circle--rotate>li .icon {
            transform: rotate(-30deg);
        }
        .count6 li {
            &:nth-child(2) {
                .icon {
                    transform: rotate(270deg);
                }
            }
            &:nth-child(3) {
                .icon {
                    transform: rotate(210deg);
                }
            }
            &:nth-child(4) {
                .icon {
                    transform: rotate(150deg);
                }
            }
            &:nth-child(5) {
                .icon {
                    transform: rotate(90deg);
                }
            }
            &:nth-child(6) {
                .icon {
                    transform: rotate(30deg);
                }
            }
        }
    }
    .rotate3 {
        .circle--rotate>li .icon {
            transform: rotate(30deg);
        }
        .count6 li {
            &:nth-child(2) {
                .icon {
                    transform: rotate(330deg);
                }
            }
            &:nth-child(3) {
                .icon {
                    transform: rotate(630deg);
                }
            }
            &:nth-child(4) {
                .icon {
                    transform: rotate(210deg);
                }
            }
            &:nth-child(5) {
                .icon {
                    transform: rotate(150deg);
                }
            }
            &:nth-child(6) {
                .icon {
                    transform: rotate(90deg);
                }
            }
        }
    }
    .rotate4 {
        .circle--rotate>li .icon {
            transform: rotate(90deg);
        }
        .count6 li {
            &:nth-child(2) {
                .icon {
                    transform: rotate(390deg);
                }
            }
            &:nth-child(3) {
                .icon {
                    transform: rotate(690deg);
                }
            }
            &:nth-child(4) {
                .icon {
                    transform: rotate(630deg);
                }
            }
            &:nth-child(5) {
                .icon {
                    transform: rotate(210deg);
                }
            }
            &:nth-child(6) {
                .icon {
                    transform: rotate(150deg);
                }
            }
        }
    }
    .rotate5 {
        .circle--rotate>li .icon {
            transform: rotate(150deg);
        }
        .count6 li {
            &:nth-child(2) {
                .icon {
                    transform: rotate(450deg);
                }
            }
            &:nth-child(3) {
                .icon {
                    transform: rotate(750deg);
                }
            }
            &:nth-child(4) {
                .icon {
                    transform: rotate(690deg);
                }
            }
            &:nth-child(5) {
                .icon {
                    transform: rotate(630deg);
                }
            }
            &:nth-child(6) {
                .icon {
                    transform: rotate(210deg);
                }
            }
        }
    }
    .rotate6 {
        .circle--rotate>li .icon {
            transform: rotate(210deg);
        }
        .count6 li {
            &:nth-child(2) {
                .icon {
                    transform: rotate(510deg);
                }
            }
            &:nth-child(3) {
                .icon {
                    transform: rotate(810deg);
                }
            }
            &:nth-child(4) {
                .icon {
                    transform: rotate(750deg);
                }
            }
            &:nth-child(5) {
                .icon {
                    transform: rotate(690deg);
                }
            }
            &:nth-child(6) {
                .icon {
                    transform: rotate(630deg);
                }
            }
        }
    }
}