.arrowCube {
    @include pos-mid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    @include m-767 {
        top: 20%;
    }
    a {
        @include size(60px);
        line-height: 60px;
        background: $orange;
        color: white;
        font-size: 2rem;
        @extend %trans;
        span {
            display: inline-block;
            @extend %trans;
        }
        &:hover {
            @include pc-only {
                background: #000;
                span {
                    transform: translateX(-5px);
                }
            }
        }
        @include m-767 {
            @include size(40px);
            line-height: 40px;
        }
    }
    .right {
        span {
            transform: scale(-1);
        }
        &:hover {
            span {
                transform: translateX(5px) scale(-1);
            }
        }
    }
}

.showCase {
    display: flex;
    background: #fff;
    @include m-767 {
        height: auto;
        flex-direction: column;
    }
    >div {
        width: 50%;
        overflow: hidden;
        @include m-767 {
            width: 100%;
        }
    }
    .left {
        @include m-767 {
            height: 40vh;
        }
        &:hover {
            @include pc-only {
                .caseBg {
                    transform: scale(1.1);
                }
                .play {
                    width: 80px;
                }
            }
        }
    }
    .caseBg {
        display: block;
        @extend %trans;
        @include m-767 {
            height: 100%;
        }
    }
    .play {
        width: 70px;
        @include pos-mid;
        z-index: 1;
        @extend %trans;
    }
    .right {
        background: #fff;
        text-align: left;
        @include pc-1280 {
            padding-right: 90px;
        }
        @include m-767 {
            padding: 50px 0 0;
        }
        .main {
            width: 65%;
            @include media-min(768px) {
                @include pos-mid;
                left: 45%;
            }
            @include m-767 {
                width: 80%;
                margin: auto;
            }
            h3 {
                font-size: 3rem;
                @include m-413 {
                    font-size: 2.4rem;
                }
            }
            p {
                font-size: 1.4rem;
                color: $gray;
                margin: 20px 0;
                line-height: 32px;
                @include m-413 {
                    margin: 10px 0;
                }
            }
            a {
                @include btn-action(black, null, $orange, white);
            }
        }
    }
    .more {
        @include btn-more(65%, black, $orange);
        left: 45%;
    }
}

.showCase_01 {
    .caseBg {
        background: url(../img/showCase-lin.jpg) no-repeat center / cover;
    }
}