.work-video {
    background: #000;
    @include m-767 {
        height: auto;
    }
    .video {
        width: 100%;
        position: relative;
        z-index: 0;
        @include m-767 {
            height: auto;
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .main {
        background: rgba(255, 255, 255, 0.9);
        padding: 45px 65px 105px;
        text-align: left;
        @extend %Y50;
        right: 10%;
        @include m-1024 {
            right: 8%;
            padding: 40px 50px 100px;
        }
        @include m-767 {
            width: 100%;
            right: inherit;
            top: inherit;
            transform: translate(0);
            background: #fff;
            position: inherit;
            padding: 30px 10% 100px;
        }
    }
    h3 {
        margin-bottom: 10px;
        @include m-1024 {
            font-size: 1.8rem;
        }
    }
    p {
        color: $gray;
    }
    .work-tt {
        margin-bottom: 30px;
    }
    .work-info {
        margin-bottom: 10px;
        p {
            font-size: 1.4rem;
            @include m-1024 {
                font-size: 1.6rem;
            }
        }
    }
    a {
        font-size: 1.4rem;
        color: #000;
        @extend %trans;
        font-weight: bold;
        @include pad-only {
            font-size: 1.8rem;
            margin-top: 10px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            @extend %trans;
        }
    }
    .btn {
        @include m-767 {
            display: none;
        }
        &:hover {
            @include pc-only {
                transform: scale(1.1) translateX(-5px);
                .icon-btn-play {
                    .path1:before {
                        color: #000;
                    }
                }
            }
        }
    }
    .icon-btn-play {
        font-size: 2.4rem;
        margin-right: 8px;
        .path1:before {
            @extend %trans;
        }
        @include m-1024 {
            font-size: 3rem;
        }
    }
    .btm-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .arrowBox {
        display: flex;
        a {
            @include size(60px);
            border: 1px solid black;
            font-size: 2rem;
            @extend %flex-mid;
            backface-visibility: hidden;
            &:hover {
                @include pc-only {
                    color: $orange;
                    span {
                        transform: translateX(-5px);
                    }
                }
            }
        }
        .right {
            margin-left: -1px;
            span {
                transform: scale(-1);
            }
            &:hover {
                @include pc-only {
                    span {
                        transform: translateX(5px) scale(-1);
                    }
                }
            }
        }
    }
    .slider {
        @extend %X50;
        bottom: 5%;
        width: 290px;
        z-index: 1;
        @include m-767 {
            display: none;
        }
        li {
            width: calc(100% / 6);
            height: 1px;
            background: $gray-l;
            display: inline-block;
            cursor: pointer;
        }
    }
    .indicator {
        width: calc(100% / 6);
        height: 6px;
        background: $orange;
        position: absolute;
        left: 0;
        top: -5px;
    }
    .yt-video {
        width: 100%;
        z-index: -1;
        position: absolute;
        @include m-767 {
            position: inherit;
            z-index: 0;
        }
    }
}

.more {
    margin: 0 20px 20px;
    &:hover {
        @include pc-only {
            color: $orange;
            .line-arrow {
                width: 80px;
                background: $orange;
                &:after {
                    background: $orange;
                }
            }
        }
    }
}

.line-arrow {
    width: 45px;
    height: 1px;
    background: #000;
    margin-left: 10px;
    &:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 1px;
        background: #000;
        transform: rotate(45deg);
        right: 0;
        top: -2px;
    }
}