[v-cloak] {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}



/* WOW */
.wow {
    visibility: hidden;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0)
    }

    25% {
        opacity: 0;
        transform: translate3d(0, 25%, 0)
    }

    100% {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none
    }
}

.fadeInUp {
    animation-name: fadeInUp
}

.fadeInRight {
    animation-name: fadeInRight;
}

.fadeIn {
    animation-name: fadeIn
}

.kv .slogan {
    overflow: hidden;
}

.rwd {
    .phone .slick-dots {
        bottom: 10px;

        li {
            margin: 0 -2.5px;
            transform: scale(0.5);
        }
    }

    .mac .slick-dots {
        bottom: 20px;

        li {
            margin: 0 -1.5px;
            transform: scale(0.75);
        }
    }
}