meta(charset = 'UTF-8') 
meta(http - equiv = 'x-ua-compatible', content = 'ie=edge') 
title 立炘數位行銷 | 網路行銷、媒體整合、網站製作、影片製作 | 官網
// facebook share
meta(property = 'og:type', content = 'website') 
meta(property = 'og:title', content = '立炘數位行銷 | 網路行銷、媒體整合、網站製作、影片製作 | 官網') 
meta(property = 'og:description', content = '「立炘數位」擁有廣告行銷數十年經驗，為客戶提供傳統媒體及數位行銷的服務。內容包含：媒體整合、網路行銷、數據分析、內容行銷、網頁及影片製作。服務專線：02-2500-0818，地址：臺北市中山區建國北路2段65號4樓') 
meta(property = 'og:image', content = '') 
meta(property = 'og:site_name', content = '立炘數位行銷 | 網路行銷、媒體整合、網站製作、影片製作 | 官網') 
meta(property = 'og:url', content = '') 
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
// favicon
link(rel = 'icon', href = 'img/favicon.ico')
// css style
link(rel = 'stylesheet', href = 'css/style.css')
//if gt IE 9
script(src = 'js/vendor/html5shiv.js')
script(src = 'js/vendor/jquery-3.2.1.min.js')
//- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
