#overlay.overlay
  nav.overlay-menu
    ul.index-menu 
      li
        a.line(href="index.html") 回首頁
      li
        block work
          a.line(href="work.html") 作品集
      li
        a.line(href="＃") 聯絡我們
      li
        a.line(href="＃") 菁英招募
    ul.social
      li
        a.fb(href="#")
          span.icon-fb
      li
        a.yt(href="#")
          span.icon-yt
        |       
script(src='http://cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js') 
script(src='js/vendor/bur.js')
